{
    "extends": [
        "plugin:prettier/recommended",
        "prettier",
        "eslint:recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": ["prettier", "@typescript-eslint"],
    "rules": {
        "prettier/prettier": "error"
    },
    "browser": true
}
