{
    "extends": [
        "plugin:prettier/recommended",
        "prettier",
        "eslint:recommended"
    ],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": "error"
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2015
    },
    "browser": true
}
