.btn {
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    border-width: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    background-color: $secondary-object-dark-color;
    color: $light-text-color;
    transition: background-color 0.3s;
}

.btn:hover,
.btn:focus {
    background-color: $secondary-object-light-color;
}

.btn__navbar_default {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn__image_default {
    width: 100%;
    height: 100%;
    margin: auto;
}

.btn__messageSubmit {
    margin-left: auto;
}
