<main class="{{rootClass}}">
    {{{SideChatBar}}}
    <div>
        {{#each Messages}}
            <div>
                {{{this}}}
            </div>
        {{/each}}
        {{{SendMessage}}}
    </div>
</main>
