<header>
    <nav>
        {{#if isLogged}}
            {{{ menuButton }}}
        {{/if}}
        <p class={{logoStyles}}>
            Random Voice Companion
        </p>
        {{#if isLogged}}
            {{{ settingsButton }}}
        {{/if}}
    </nav>
</header>
