<header>
    <nav>
        {{#if isLogged}}
            {{{MenuButton}}}
        {{/if}}
        {{{Logo}}}
        {{#if isLogged}}
            {{{SettingsButton}}}
        {{/if}}
    </nav>
</header>
