<header>
    <nav>
        {{#if isLogged}}
            {{{ MenuButton }}}
        {{/if}}
        <p class={{logoStyles}}>
            Random Voice Companion
        </p>
        {{#if isLogged}}
            {{{ SettingsButton }}}
        {{/if}}
    </nav>
</header>
