<header>
    <nav>
        {{#if isLogged}}
            <div id={{menuButton}}></div>
        {{/if}}
        <p class={{logoStyles}}>
            Random Voice Companion
        </p>
        {{#if isLogged}}
            <div id={{settingsButton}}></div>
        {{/if}}
    </nav>
</header>