header {
    background-color: $primary-object-color;
    color: $light-text-color;
}

nav {
    max-width: 1140px;
    margin: auto;
    display: flex;
}

.logo__style_default {
    margin: auto;
    font-weight: 900;
}