.side-chat {
  display: grid;
  grid-template-columns: 60px auto;
  grid-template-rows: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  padding: 5px;
}

.side-chat_select {
  background-color: $primary-object-color;
  color: $light-text-color;
  border-radius: 5px;
}

.side-chat__contact {
  display: flex;
  margin-left: 5px;
}

.side-chat__contact-text {
  display: block;
  margin: 0;
}
