<footer>
    <div className={{contentClass}}>
        <p>
            © 2021. Random Voice Companion
        </p>
        <p>Служебные кнопки для проверки страниц задания</p>
        {{#each linkButtons}}
            {{{this}}}
        {{/each}}
    </div>
</footer>
