.inputDiv_default {
    position: relative;
    margin-bottom: 10px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid $input-text-color;
    background: transparent;
}

input:valid {
    background-color: green;
    text-color: black;
}

input:invalid {
    background-color: red;
    text-color: black;
}


input:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: $input-text-color;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label {
    top: -20px;
    font-size: 14px;
    color: $secondary-object-light-color;
}

input:valid ~ label {
    color: $secondary-object-light-color;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar::before,
.bar::after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: $secondary-object-light-color;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar::before {
    left: 50%;
}

.bar::after {
    right: 50%;
}

/* active state */
input:focus ~ .bar::before,
input:focus ~ .bar::after {
    width: 50%;
}
