<form {{#if class_}}class="{{class_}}"{{/if}}>
    {{#if formHeaderText}}<p>{{formHeaderText}}</p>{{/if}}
    <div id={{inputsPlace}}></div>
    {{#if submitButton}}<div id={{submitButton}}></div>{{/if}}
</form>