form {
    border: 5px solid $secondary-object-dark-color;
    padding: 30px;
    margin: 10px;
}

.form_no_border {
    border: 0;
}

.form__message_default {
    border-top: 2px solid $primary-object-color;
}
