form {
    border: 5px solid $secondary-object-dark-color;
    padding: 30px;
    margin: 10px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

form p {
    padding-bottom: 10px;
}

.form_no-border {
    border: 0;
}

.form__message-input {
    border-top: 2px solid $primary-object-color;
    display: flex;
    padding: 25px 0 0;
    max-width: 100%;
}

.form__authorization-error {
    display: none;
    color: $primary-error;
    text-align: center;
    margin: 5px 0 0 0;
    padding: 0;
    width: $input-width;
    font-size: smaller;
}

.form__authorization-error_show {
    display: block;
}
